apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: redis
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/component: cache
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: redis
